*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #C00606;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #aaa;
}

.lbl{
    display: inline-block;
    width: 40px;
    height: 20px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
    transform: translatey(2px);
}
   
.lbl::after{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 2px;
    left: 3px;
    transition: .2s;
}
   
#switch:checked + .lbl::after{
    left: 22px;
}
   
#switch:checked + .lbl{
    background: #C00606;
}
   
#switch{
    display: none;
}

body{
    background-color: #111;
}

.trabajos{
    display: none;
}

header{
    width: 100%;
    height: 600px;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #fff;
    margin: 25px;
    font-family: 'Ranchers', sans-serif;
    letter-spacing: 3px;
    font-size: 35px;
    text-shadow: 2px 2px 5px #C00606;
    cursor: default;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: default;
    position: sticky;
}

.nav__elemento-ul{
    list-style: none;
    margin: 35px;
}

.nav__elemento-ul li{
    display: inline-block;
}

.tema{
    color: #fff;
    font-family: 'Fredoka One', sans-serif;
    font-size: 22px;
    margin-left: 20px;
}

.nav__elemento-ul li a{
    font-family: 'Ranchers', sans-serif;
    display: block;
    text-decoration: none;
    color: #bbb;
    padding: 8px;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: 2px 2px 5px #333;
    transition: all .5s;
}

.nav__elemento-ul li a:hover{
    transform: translateY(-8%);
    color: #777;
}

.contenedorflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header-elemento{
    margin: 20px;
}


.header-elemento:nth-child(2){
    padding-top: 80px;
    width: 700px;
    height: auto;
}

.titulo-dw{
    font-family: 'RocknRoll One', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 15px #000;
    text-align: center;
    font-size: 60px;
    cursor: default;
}

.header-elemento{
    text-align: center;
}

.header-elemento img{
    padding-top: 70px;
    width: 398px;
    height: auto;
}

.header-elemento p{
    color: #ddd;
    cursor: default;
    padding: 10px 40px;
    text-align: justify;
    font-family: 'Balsamiq Sans', sans-serif;
    text-shadow: 2px 2px 5px #111;
}

#btn-trabajos{
    border: 1px solid #fff;
    background-color: #C00606;
    color: #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 110px;
    height: 30px;
    transition: all .8s;
    font-family: 'Balsamiq Sans', sans-serif;
}

#btn-trabajos i{
    margin-left: 5px;
    transition: all .8s;
}

#btn-trabajos:hover i{
    color: #aaa;
}

#btn-trabajos:hover{
    background-color: #900707;
    border: 1px solid #222;
    color: #aaa;
    border: 1px solid #aaa;
}

/* CONTENEDOR SOBRE MI */

.contenedor-sobremi{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E90808;
}

.sobremi{
    margin: 20px;
}

.sobremi:nth-child(1){
    width: 700px;
    height: 460px;
    padding: 20px;
}

.sobremi h2{
    padding-top: 80px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    text-shadow: 0px 0px 5px #000;
}

.sobremi p{
    color: #ddd;
    padding: 25px;
    text-align: justify;
    font-family: 'Fredoka One', sans-serif;
    text-shadow: 0px 0px 2px #000;
}

.sobremi:nth-child(2){
    width: 350px;
    height: 350px;
    margin-top: 70px;
    border-radius: 50%;
}

.sobremi img{
    width: 350px;
    height: auto;
    border-radius: 50%;
}

/*----------------------*/


.contenedor-titulo-trabajos{
    text-align: right;
    transform: translateY(-2px);
}

.contenedor-trabajos{
    margin: auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.proyecto{
    margin: 30px;
    width: 300px;
    height: 300px;
    background-color: #790505;
    border-radius: 5px;
    box-shadow: 0 0 15px #FF0000;
    overflow: hidden;
}

.proyecto img{
    border-radius: 5px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: all .5s;
}

.proyecto img:hover{
    opacity: .7;
    transform: scale(1.2);
}

.proyecto p{
    padding: 20px;
    color: #eee;
    cursor: default;
    font-family: 'Fredoka One', sans-serif;
    text-shadow: 0 0 2px #000;
}

.cajacontenedorclientes{
    background-color: #C00606;
    padding: 10px;
}

.cajaclientes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    margin: auto;
    background-color: #C00606;
}

.titulo-clientes{
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    border-bottom: 3px solid #fff;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 40px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: default;
}

.cliente {
    width: 180px;
    height: 180px;
    background-size: contain;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 15px #000;
    transition: all .5s;
}

.cliente:nth-child(1){
    background-image: url(img1.png);
}

.cliente:nth-child(2){
    background-image: url(img2.png);
}

.cliente:nth-child(3){
    background-image: url(img3.png);
}

.cliente:nth-child(4){
    background-image: url(img4.png);
}

.cliente:nth-child(5){
    background-image: url(img5.png);
}

.cliente:nth-child(6){
    background-image: url(img6.png);
}

.cliente:nth-child(7){
    background-image: url(img7.png);
}

.cliente:nth-child(8){
    background-image: url(img8.png);
}

.cliente:nth-child(9){
    background-image: url(img9.png);
}

.cliente:nth-child(10){
    background-image: url(img10.png);
}

.cliente:hover{
    transform: scale(0.9);
}


.footer{
    width: 100%;
    height: 330px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all 1s;
}

.inffo{
    margin-top: 30px;
    width: 270px;
    height: 210px;
}

.inffo:nth-child(1){
    width: 400px;
}

.inffo:nth-child(3){
    width: auto;
}

.inffo p{
    color: #fff;
    text-align: justify;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

.iconos{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.inffo a i{
    margin: 10px 5px;
    transition-property: color;
    transition-duration: .5s;
}

.inffo a i:hover{
    color: #ccc;
}

.titulo-paradise{
    font-family: sans-serif;
    font-size: 40px;
    color: #fff;
    cursor: default;
}

.titulo-navegacion, .titulo-ubicacion{
    font-size: 25px;
    color: #fff;
    cursor: default;
}

.ul__navegacion{
    list-style: none;
    margin-top: 10px;
}

.ul__navegacion li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    transition-property: color;
    transition-duration: .5s;
    font-size: 18px;
}

.ul__navegacion li a:hover{
    color: #ccc;
}

.ul__ubicacion{
    margin-top: 15px;
    list-style: none;
}

.ul__ubicacion li{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    cursor: default;
}

.ul__ubicacion li i{
    margin-right: 3px;
}

.ul__ubicacion li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    transition: all .5s;
}

.ul__ubicacion li a:hover{
    color: #ccc;
}

.copy{
    color: #fff;
    font-size: 12px;
    cursor: default;
    margin-bottom: 20px;
    margin-top: 10px;
}

.line{
    margin: auto;
    width: 85%;
    margin-top: 10px;
    height: 3px;
    background-color: #fff;
}

/* RESPONSIVE DESIGN*/

@media only screen and (max-width: 1188px){
    .header{
        width: 100%;
        height: auto;
    }
    .img-fondo{
        display: none;
    }
    .titulo-dw{
        font-size: 30px;
    }
    .contenedor-titulo-trabajos{
        display: none;
    }
    #sobremi{
        height: auto;
    }
    .sobremi:nth-child(1){
        height: auto;
        padding: 5px;
    }
    .sobremi:nth-child(2){
        margin: 0;
        width: 300px;
        height: 300px;
        margin-bottom: 100px;
    }
    .sobremi img{
        width: 300px;
        height: 300px;
    }
    .trabajos{
        display: block;
        text-align: center;
        color: #fff;
        margin-top: 50px;
        font-size: 40px;
        font-family: 'RocknRoll One', sans-serif;
        text-shadow: 2px 2px 5px #000;
    }
    .contenedor-trabajos{
        width: 100%;
    }
    .proyecto{
        height: auto;
    }
    .footer{
        height: auto;
    }
    .titulo-paradise{
        font-size: 40px;
        text-align: center;
    }
    .inffo{
        margin: 20px;
    }
    .inffo:nth-child(1){
        height: auto;
    }
    .inffo p{
        font-size: 17px;
        padding: 15px;
    }
    .line{
        margin: 0;
    }
}